* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.blockPageContainer {
  padding: 30px 0 0 180px;
}

.toolbar {
  display: flex;
  width: 100%;
  font-size: 24px;
  color: #464655;
}

.blocksPage {
  border-bottom: solid 7px #F4F7FC;
  padding: 5px 10px 5px 0; 
}

.lettersPage {
  border-bottom: solid 7px #F4F7FC;
  padding: 5px 10px; 
}

.choosedPage {
  font-weight: bold;
  border-bottom: solid 7px #7D90B2;
}

.borderBottomToolbar {
  border-bottom: solid 7px #F4F7FC;
  width: 100%;
}

.blocksNav {
  margin: 30px 0;
  display: flex;
  font-size: 16px;
}

.widget {
  display: flex;
  padding: 10px 20px;
  width: 20vw;
  justify-content: space-between;
  border: 1px solid #606F89;
  border-radius: 2px;
}

.blockCreatorBtn {
  margin: 0 30px;
  text-align: center;
  padding: 10px 70px;
  font-weight: bold;
  color: #FFFFFF;
  background: #31BE72;
  border-radius: 2px;
  cursor: pointer;
}

.blocks {
  margin: 70px 0 0 0;
}

.demarcationLine {
  display: flex;
  width: 100%;
  background-color:#F4F7FC;
  border-radius: 2px;
  margin: 60px 0 0;
}

.demarcationLine span {
  font-size: 14px;
  padding: 7px 50px;
  border-radius: 2px;
  color: #FFFFFF;
}

.textBlockLine span {
  background-color: #31BE72;
}

.modelTableLine span {
  background-color: #7D90B2;
}

.buttonBlocksLine span {
  background-color: #ED0000;
  padding: 10px 80px;
}

.blocksContainer {
  margin: 0 130px 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.block {
  display: flex;
  background: #F4F7FC;
  box-shadow: 0px 4px 6px rgba(125, 144, 178, 0.15);
  border-radius: 3px;
  padding: 20px;
  justify-content: space-evenly;
  margin: 40px 30px 0 0;
}

.imgInfo {
  width: 250px;
  height: 270px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-right: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.info h3 {
  padding: 0 0 5px 0;
  font-weight: bold;
  font-size: 20px;
  color: #31BE72;
}

.info p {
  padding: 5px 0;
  font-weight: bold;
  color: #464655;
}

.info li { 
  list-style-position: inside;
}

.info li a {
  color: #3B3A4A;
  text-decoration: none;
  line-height: 150%;
}

.info li a:hover {
  color: #31BE72;
  text-decoration: underline;
}

.expand {
  margin-top: 15px;
  border-top: 2px solid #DAE1EC;
  padding: 10px 0;
  font-weight: bold;
  color: #31BE72;
  cursor: pointer;
}


